In [2]:
import pandas as pd

# Load in Data

In [37]:
cars = pd.read_csv(r"C:\Users\danie\OneDrive\Documents\GitHub\FP2021\Final Project\Data\vehiclesintro.csv")

In [38]:
cars

,id,region,price,year,manufacturer,model,condition,title_status,state
0,7316814884,auburn,33590,2014.0,gmc,sierra 1500 crew cab slt,good,clean,al
1,7316814758,auburn,22590,2010.0,chevrolet,silverado 1500,good,clean,al
2,7316814989,auburn,39590,2020.0,chevrolet,silverado 1500 crew,good,clean,al
3,7316743432,auburn,30990,2017.0,toyota,tundra double cab sr,good,clean,al
4,7316356412,auburn,15000,2013.0,ford,f-150 xlt,excellent,clean,al
...,...,...,...,...,...,...,...,...,...
426848,7301591192,wyoming,23590,2019.0,nissan,maxima s sedan 4d,good,clean,wy
426849,7301591187,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,clean,wy
426850,7301591147,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,good,clean,wy
426851,7301591140,wyoming,28990,2018.0,lexus,es 350 sedan 4d,good,clean,wy
426852,7301591129,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,good,clean,wy

# Data Cleaning - removing data

### Keeping only "clean" title statuses

In [39]:
cars = cars[cars["title_status"] == "clean"]

### Dropping missing data

In [40]:
cars = cars.dropna()

In [41]:
cars

,id,region,price,year,manufacturer,model,condition,title_status,state
0,7316814884,auburn,33590,2014.0,gmc,sierra 1500 crew cab slt,good,clean,al
1,7316814758,auburn,22590,2010.0,chevrolet,silverado 1500,good,clean,al
2,7316814989,auburn,39590,2020.0,chevrolet,silverado 1500 crew,good,clean,al
3,7316743432,auburn,30990,2017.0,toyota,tundra double cab sr,good,clean,al
4,7316356412,auburn,15000,2013.0,ford,f-150 xlt,excellent,clean,al
...,...,...,...,...,...,...,...,...,...
426848,7301591192,wyoming,23590,2019.0,nissan,maxima s sedan 4d,good,clean,wy
426849,7301591187,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,clean,wy
426850,7301591147,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,good,clean,wy
426851,7301591140,wyoming,28990,2018.0,lexus,es 350 sedan 4d,good,clean,wy
426852,7301591129,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,good,clean,wy

### Checking data types and fixing any that need to be changed

In [42]:
cars.dtypes

id                int64
region           object
price             int64
year            float64
manufacturer     object
model            object
condition        object
title_status     object
state            object
dtype: object

In [43]:
cars['year'] = cars['year'].astype(int)

In [44]:
cars.dtypes

id               int64
region          object
price            int64
year             int32
manufacturer    object
model           object
condition       object
title_status    object
state           object
dtype: object

# Save file

In [45]:
cars.to_excel('carsDONE.xlsx')